# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
**/xcshareddata/WorkspaceSettings.xcsettings
**/xcshareddata/swiftpm/

# Swift Package Manager
.swiftpm/
Package.resolved
.build/

# macOS
.DS_Store

# Brainstorming scratchpad
.superpowers/

#Markdownlint rules so I don't go crazy with the formatting of my markdown files.
.markdownlint.cjs